{% extends 'base_url.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contacts</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Pre-sales</h5>
                <p class="card-text">Name: John Mayal </br> Mobile: 321645678 </br> Email: johnmayal@mailing.com </p>
            </div>
        </div>
                <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Post-sales</h5>
                <p class="card-text">Name: James Cameron </br> Mobile: 528265250 </br> Email: j.cameron@mailing.com </p>
            </div>
        </div>
                <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jim Morrison </br> Mobile: 3126459875 </br> Email: jimmorrison@mailing.com </p>
            </div>
        </div>
                <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jennifer Lawrence </br> Mobile: 123654852 </br> Email: j.lawrence@mailing.com </p>
            </div>
        </div>
                <div class="card text-black mb-3" style="max-width: 40rem;">
            <div class="card-header">Address</div>
            <div class="card-body">
                <h5 class="card-text">Best Cars Dealers Head Quarter</br></br>Medford, Oregon</br></br></h5>
                <p class="card-text">Phone: 31264597852 </br> Email: info.dealer@mailing.com </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}