{% extends 'base_url.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contacts</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Pre-sales</h5>
                <p class="card-text">Name: John Mayal </br> Mobile: 321645678 </br> Email: <a href="mailto:johnmayal@mailing.com">johnmayal@mailing.com </a></p>
            </div>
        </div>
        <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Post-sales</h5>
                <p class="card-text">Name: James Cameron </br> Mobile: 528265250 </br> Email: <a href="mailto:j.cameron@mailing.com">j.cameron@mailing.com </a></p>
            </div>
        </div>
        <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jim Morrison </br> Mobile: 3126459875 </br> Email: <a href="mailto:jimmorrison@mailing.com">jimmorrison@mailing.com </a></p>
            </div>
        </div>
        <div class="card text-black mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Details</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Jennifer Lawrence </br> Mobile: 123654852 </br> Email: <a href="mailto:j.lawrence@mailing.com">j.lawrence@mailing.com </a></p>
            </div>
        </div>
        <div class="card text-black mb-3" style="max-width: 40rem;">
            <div class="card-header">Address</div>
            <div class="card-body">
                <h5 class="card-text">Best Cars Dealers Head Quarter</br></br></h5><address>
                    121, Clear Water Bay Road<br>
                    Clear Water Bay<br>
                    Medford, Oregon<br>
                    Phone: 31264597852<br></br>
                <p class="card-text">Email: <a href="mailto:info.dealer@mailing.com">info.dealer@mailing.com</a> </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}